div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

iframe {
  max-width: 100%;
}

.fab {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.gallery {
  overflow-x: scroll;
}